.comprehensive-solution-section {
  padding: 40px 100px;
  margin-top: 40px;
}

.section-header {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.components-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-top: 40px;
}

.component-card {
  /* background-color: white; */
  border-radius: 8px;
  text-align: center;
  padding: 20px;
  width: calc(33% - 60px);
}

.component-icon {
  width: 60px;
  aspect-ratio: 1/1;
  margin-bottom: 10px;
}

.component-card h3 {
  font-weight: 600;
  font-size: 1.125rem; /* 18px */
  line-height: 155.56%; /* 28px */
  color: #2a4a45;
  margin: 10px 0;
}

.component-card p {
  font-weight: 400;
  font-size: 0.875rem; /* 14px */
  line-height: 151.5%; /* 21.21px */
  color: #617975;
}
